In [1]:
import pandas as pd

ab = pd.read_csv('./data/apollo/240904_전체년도ab_결측치이상치처리완료(3년후매출액증가율)_v4.csv',encoding='utf-8')

bg = pd.read_csv('./data/apollo/bg03.csv')

In [2]:
bg['br_num'] = bg['br_num'].astype('Int64')
bg['cp_br_num'] = bg['cp_br_num'].astype('Int64')

In [3]:
bg.dropna(subset='sup_amt', inplace=True)
bg.dropna(subset='br_num', inplace=True)
bg.dropna(subset='cp_br_num', inplace=True)

In [4]:
bg_origin= bg[bg['data_typ'].isin([1,3,5,7])]
bg_reverse = bg[bg['data_typ'].isin([2,4,6,8])]
bg_reverse.rename(columns={'br_num':'cp_br_num2'}, inplace=True)
bg_reverse.rename(columns={'cp_br_num':'br_num'}, inplace=True)
bg_reverse.rename(columns={'cp_br_num2':'cp_br_num'}, inplace=True)
bg_origin = bg_origin[['br_num','txn_end','cp_br_num','sup_amt']]
bg_reverse = bg_reverse[['br_num','txn_end','cp_br_num','sup_amt']]
bg_all = pd.concat([bg_origin,bg_reverse])
bg_all

C:\Users\user\AppData\Local\Temp\ipykernel_5796\2293385416.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_reverse.rename(columns={'br_num':'cp_br_num2'}, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\2293385416.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_reverse.rename(columns={'cp_br_num':'br_num'}, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\2293385416.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_reverse.rename(columns={'cp_br_num2':'cp_br_num'}, inplace=True)

               br_num   txn_end   cp_br_num      sup_amt
0          5038109168  20180331  5058120418    6900000.0
1          5038109168  20180331  3128548961    9561500.0
2          5038109168  20180331  5058129326    2340704.0
3          5038109168  20180331  1248533444  276380650.0
4          5038109168  20180331  1338500011   64922766.0
...               ...       ...         ...          ...
113462472  1058800491  20191231  1232495072     100000.0
113462473  3128209521  20191231  1232495072     289000.0
113462474  1398201832  20191231  1232495072   12387500.0
113462475  8684500412  20191231  1232495072    5770400.0
113462476  1128205639  20191231  1232495072      46000.0

[111463381 rows x 4 columns]

In [5]:
# bg_all['br_num'] = bg_all['br_num'].astype('int16')
bg_all['br_num'] = bg_all['br_num'].astype(str)
bg_all['txn_end'] = bg_all['txn_end'].astype(str)
bg_all['br_num_year'] = bg_all['br_num'].astype(str) + "_" + bg_all['txn_end'].str.slice(start=2, stop=4)
# bg_all['cp_br_num'] = bg_all['cp_br_num'].astype('int16')
bg_all['cp_br_num'] = bg_all['cp_br_num'].astype(str)
bg_all['cp_br_num_year'] = bg_all['cp_br_num'].astype(str) + "_" + bg_all['txn_end'].str.slice(start=2, stop=4)
bg_all

,br_num,txn_end,cp_br_num,sup_amt,br_num_year,cp_br_num_year
0,5038109168,20180331,5058120418,6900000.0,5038109168_18,5058120418_18
1,5038109168,20180331,3128548961,9561500.0,5038109168_18,3128548961_18
2,5038109168,20180331,5058129326,2340704.0,5038109168_18,5058129326_18
3,5038109168,20180331,1248533444,276380650.0,5038109168_18,1248533444_18
4,5038109168,20180331,1338500011,64922766.0,5038109168_18,1338500011_18
...,...,...,...,...,...,...
113462472,1058800491,20191231,1232495072,100000.0,1058800491_19,1232495072_19
113462473,3128209521,20191231,1232495072,289000.0,3128209521_19,1232495072_19
113462474,1398201832,20191231,1232495072,12387500.0,1398201832_19,1232495072_19
113462475,8684500412,20191231,1232495072,5770400.0,8684500412_19,1232495072_19
113462476,1128205639,20191231,1232495072,46000.0,1128205639_19,1232495072_19

In [6]:
bg_all = bg_all.groupby(['br_num_year','cp_br_num_year'], as_index=False)['sup_amt'].sum()

In [7]:
len(bg_all)

53416714

In [8]:
bg_all = bg_all[bg_all['sup_amt']>0]
len(bg_all)

53225555

In [9]:
ab_all = ab.copy()

In [10]:
bg_all = bg_all[['br_num_year','cp_br_num_year','sup_amt']]

In [11]:
bg_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53225555 entries, 0 to 53416713
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   br_num_year     object
 1   cp_br_num_year  object
 2   sup_amt         float64
dtypes: float64(1), object(2)
memory usage: 1.6+ GB

In [12]:
ab_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216989 entries, 0 to 216988
Data columns (total 31 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   br_num_year  216989 non-null  object
 1   매출액          216989 non-null  float64
 2   인건비          216989 non-null  float64
 3   감가상각율        216989 non-null  float64
 4   금융비용총부채      216989 non-null  float64
 5   금융비용총비용비율    216989 non-null  float64
 6   당좌비율         216989 non-null  float64
 7   매출액증가율       216989 non-null  float64
 8   매출원가율        216989 non-null  float64
 9   매출채권회전율      216989 non-null  float64
 10  배당성향         216989 non-null  float64
 11  부채비율         216989 non-null  float64
 12  비유동자산비율      216989 non-null  float64
 13  비유동자산장기적합율   216989 non-null  float64
 14  비유동자산회전율     216989 non-null  float64
 15  수지비율         216989 non-null  float64
 16  영업이익증가율      216989 non-null  float64
 17  유형자산증가율      216989 non-null  float64
 18  유형자산회전율      216989 non-null  float64
 19  자기자본증가율      216989 non-null  float64
 20  자본금회전율       216989 non-null  float64
 21  재고자산회전율1     216989 non-null  float64
 22  총자본회전율       216989 non-null  float64
 23  총자산증가율       216989 non-null  float64
 24  매출액증가율_lag1  216989 non-null  float64
 25  매출액증가율_lag2  216989 non-null  float64
 26  br_num       216989 non-null  int64
 27  year         216989 non-null  int64
 28  year_diff    216989 non-null  float64
 29  3년매출액        216989 non-null  float64
 30  3년매출액증가율     216989 non-null  float64
dtypes: float64(28), int64(2), object(1)
memory usage: 51.3+ MB

In [13]:
#  Edge attr : 거래액 / 매출액

ab_all_mce = ab_all[['br_num_year','매출액']]
bg_all = pd.merge(bg_all,ab_all_mce, how='left', on='br_num_year')
bg_all['edge_attr'] = bg_all['sup_amt'] / bg_all['매출액']
bg_all.drop(columns=['sup_amt','매출액'], inplace=True)

In [14]:
#### ab, bg 매핑
bg = bg_all
# ab에 없는 기업 bg에서 날리기
ab['br_num_year'] = ab['br_num_year'].astype(str)
bg['br_num_year'] = bg['br_num_year'].astype(str)
bg['cp_br_num_year'] = bg['cp_br_num_year'].astype(str)
abli = list(ab['br_num_year'].unique())
bg = bg[(bg['br_num_year'].isin(abli))&(bg['cp_br_num_year'].isin(abli))]

# bg에 없는 기업 ab에서 날리기
bgli = list(set(list(bg['br_num_year'])+list(bg['cp_br_num_year'])))
# 거래 존재 기업 노드 ab_gr
ab_gr = ab[ab['br_num_year'].isin(bgli)]

In [15]:
ab_gr_li = list(ab_gr['br_num_year'].unique())
# # 거래 없는 기업 노드 ab_ngr
# ab_ngr = ab[~ab['br_num_year'].isin(ab_gr_li)]
aaa = ab[ab['br_num_year'].isin(ab_gr_li)]
len(aaa)

35728

In [16]:
len(ab)

216989

In [17]:
# 거래 없는 기업 노드 ab_ngr
ab_ngr = ab[~ab['br_num_year'].isin(ab_gr_li)]
len(ab_ngr)

181261

In [19]:
bg

            br_num_year cp_br_num_year     edge_attr
117267    1018100340_18  1018121627_18  1.443538e+07
117270    1018100340_19  1018121627_19  1.047315e+07
117296    1018100452_18  6038148234_18  1.272211e+06
117297    1018100452_18  6198103663_18  6.251932e+06
117306    1018100452_19  1138121372_19  8.659285e+04
...                 ...            ...           ...
53080658  8918601428_18  4108665451_18  1.163094e+07
53103119  8938100380_19  5138119208_19  7.911735e+05
53103189  8938100380_19  6098169315_19  1.922081e+06
53103239  8938100380_19  6158188919_19  5.679977e+04
53103252  8938100380_19  6228100191_19  1.384494e+05

[112319 rows x 3 columns]

In [22]:
ab_gr.drop(columns=['br_num','year_diff','3년매출액'], inplace=True)
ab_ngr.drop(columns=['br_num','year_diff','3년매출액'], inplace=True)
ab_gr

C:\Users\user\AppData\Local\Temp\ipykernel_5796\1369294902.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_gr.drop(columns=['br_num','year_diff','3년매출액'], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\1369294902.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_ngr.drop(columns=['br_num','year_diff','3년매출액'], inplace=True)

,br_num_year,매출액,인건비,감가상각율,금융비용총부채,금융비용총비용비율,당좌비율,매출액증가율,매출원가율,매출채권회전율,...,유형자산회전율,자기자본증가율,자본금회전율,재고자산회전율1,총자본회전율,총자산증가율,매출액증가율_lag1,매출액증가율_lag2,year,3년매출액증가율
7,1018100340_18,17.137260,15.546508,13.46,0.00,0.00,630.86,-2.68,0.00,44.06000,...,6.14,-30.52000,9.19,133.875192,0.16,-24.60,-3.15,-1.16,18,-7.103073
8,1018100340_19,17.134083,15.419945,23.90,0.00,0.00,20.55,-1.33,0.00,59.09000,...,5.48,11.46000,9.07,133.875192,0.18,3.73,-2.68,-3.15,19,-9.991420
16,1018100452_18,18.498897,15.102865,20.91,1.84,3.32,22.59,-65.98,88.27,1.27000,...,30.41,39.23603,2.77,95.870000,0.75,-69.79,-30.98,-16.99,18,170.690024
17,1018100452_19,16.999094,15.055722,3.07,1.21,8.95,86.04,-96.49,40.76,0.04000,...,1.58,505.16000,0.14,0.570000,0.02,262.64,-65.98,-30.98,19,6088.887306
26,1018103819_19,16.915017,14.537089,11.82,1.04,14.61,26.67,3.02,0.00,12.85000,...,0.10,6.44000,2.22,133.875192,0.08,2.20,-6.32,-2.72,19,1.453211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216950,8818601251_19,16.931605,14.550423,45.10,0.15,0.03,182.01,40.79,69.03,3.65000,...,190.58,-67.43000,4.38,503.430000,2.17,30.18,-11.07,-6.31,19,41.263420
216958,8858100924_18,16.895808,14.606532,33.13,0.00,0.00,442.57,65.01,0.00,63.94224,...,25.15,12.15000,13.71,133.875192,2.76,-11.21,75.37,-44.42,18,81.761878
216970,8878600279_18,16.958849,14.458513,0.00,3.10,3.70,43.75,74.00,80.03,6.55000,...,1.01,70.84000,26.27,15.300000,0.81,-2.92,21.14,-0.52,18,9.889029
216975,8918601428_18,16.882868,14.398961,2.07,3.37,1.78,93.76,-73.39,88.70,36.54000,...,77.32,-8.36000,3.46,1.410000,1.23,-7.63,38.40,-28.84,18,154.213432
216982,8938100380_19,16.901476,14.540959,29.31,4.69,0.70,455.14,1.01,54.12,11.05000,...,14.43,5.22000,4.26,133.875192,2.05,10.31,5.42,451.31,19,122.267131

In [21]:
ab_gr.columns

Index(['br_num_year', '매출액', '인건비', '감가상각율', '금융비용총부채', '금융비용총비용비율', '당좌비율',
       '매출액증가율', '매출원가율', '매출채권회전율', '배당성향', '부채비율', '비유동자산비율', '비유동자산장기적합율',
       '비유동자산회전율', '수지비율', '영업이익증가율', '유형자산증가율', '유형자산회전율', '자기자본증가율',
       '자본금회전율', '재고자산회전율1', '총자본회전율', '총자산증가율', '매출액증가율_lag1', '매출액증가율_lag2',
       'br_num', 'year', 'year_diff', '3년매출액', '3년매출액증가율'],
      dtype='object')

In [18]:
ab_gr['year'] = ab_gr['br_num_year'].str.slice(start=11, stop=13)
bg['year'] = bg['br_num_year'].str.slice(start=11, stop=13)
ab_all = ab_gr.copy()

C:\Users\user\AppData\Local\Temp\ipykernel_5796\3538098748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_gr['year'] = ab_gr['br_num_year'].str.slice(start=11, stop=13)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\3538098748.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg['year'] = bg['br_num_year'].str.slice(start=11, stop=13)

In [22]:
ab_all['year'].value_counts()

year
18    19580
19    16148
Name: count, dtype: int64

In [23]:
bg['year'].value_counts()

year
18    61738
19    50581
Name: count, dtype: int64

In [24]:
ab_ngr.head(1)

,Unnamed: 0,br_num_year,매출액,인건비,감가상각율,금융비용총부채,금융비용총비용비율,당좌비율,매출액증가율,매출원가율,...,재고자산회전율1,총자본회전율,총자산증가율,매출액증가율_lag1,매출액증가율_lag2,br_num,year,year_diff,3년매출액,3년매출액증가율
0,273548,1018100340_11,17.122863,15.690134,13.51,0.0,0.0,1870.05,2.79,0.0,...,133.875192,0.1,-0.08,4.29,6.39,1018100340,11,3.0,7250046.0,16.309487

In [19]:
ab_ngr['year'] = ab_ngr['br_num_year'].str.slice(start=11, stop=13)

C:\Users\user\AppData\Local\Temp\ipykernel_5796\849968632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_ngr['year'] = ab_ngr['br_num_year'].str.slice(start=11, stop=13)

In [26]:
ab_ngr.year.value_counts()

year
16    30896
17    30340
15    29608
14    25299
13    20135
12    15642
11    12979
18     9056
19     7306
Name: count, dtype: int64

In [24]:
ab_year = ab_gr[ab_gr['year']=='18']
ab_year

,br_num_year,매출액,인건비,감가상각율,금융비용총부채,금융비용총비용비율,당좌비율,매출액증가율,매출원가율,매출채권회전율,...,유형자산회전율,자기자본증가율,자본금회전율,재고자산회전율1,총자본회전율,총자산증가율,매출액증가율_lag1,매출액증가율_lag2,year,3년매출액증가율
7,1018100340_18,17.137260,15.546508,13.46,0.00,0.00,630.86,-2.68,0.00,44.06000,...,6.14,-30.52000,9.19,133.875192,0.16,-24.60,-3.15,-1.160000,18,-7.103073
16,1018100452_18,18.498897,15.102865,20.91,1.84,3.32,22.59,-65.98,88.27,1.27000,...,30.41,39.23603,2.77,95.870000,0.75,-69.79,-30.98,-16.990000,18,170.690024
44,1018114655_18,18.804796,16.755506,4.77,1.76,1.35,90.63,-5.38,14.53,4.25000,...,1.18,-4.94000,45.90,11.510000,0.25,-2.39,-8.81,-2.000000,18,-7.430355
53,1018116478_18,18.097044,15.513166,11.57,2.50,0.26,406.77,-11.09,91.91,5.92000,...,15.95,-3.26000,256.36,5.620000,1.68,-15.76,6.86,-49.540000,18,-13.754649
55,1018116968_18,17.115675,14.806356,38.44,1.61,0.29,198.05,62.20,77.97,7.34000,...,474.17,-6.56000,12.08,10.640000,1.86,1.99,25.90,-10.960000,18,-24.473959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216909,8688600676_18,17.041238,14.432789,14.52,2.98,4.43,112.76,9.82,101.87,3.20000,...,0.70,-61.16000,3.40,7.090000,0.51,-5.16,521.87,-49.490000,18,7.413553
216939,8808800044_18,16.903409,14.645738,17.75,2.91,1.97,19.11,667.46,74.31,172.05000,...,0.82,33.34000,1.28,0.770000,0.32,37.32,40.23,66.930263,18,-63.426236
216958,8858100924_18,16.895808,14.606532,33.13,0.00,0.00,442.57,65.01,0.00,63.94224,...,25.15,12.15000,13.71,133.875192,2.76,-11.21,75.37,-44.420000,18,81.761878
216970,8878600279_18,16.958849,14.458513,0.00,3.10,3.70,43.75,74.00,80.03,6.55000,...,1.01,70.84000,26.27,15.300000,0.81,-2.92,21.14,-0.520000,18,9.889029
216975,8918601428_18,16.882868,14.398961,2.07,3.37,1.78,93.76,-73.39,88.70,36.54000,...,77.32,-8.36000,3.46,1.410000,1.23,-7.63,38.40,-28.840000,18,154.213432

In [25]:
# 풀 데이터


ab_year = ab_gr[ab_gr['year']=='18']
ab_ngr_year = ab_ngr[ab_ngr['year']=='18']
ab_ngr_year.drop(columns='year',inplace=True)

bg_year = bg[bg['year']=='18']

unique_companies = pd.unique(bg_year[['br_num_year', 'cp_br_num_year']].values.ravel('K'))
company_to_index = {company: idx for idx, company in enumerate(unique_companies)}
bg_year['put'] = bg_year['br_num_year'].map(company_to_index)
bg_year['get'] = bg_year['cp_br_num_year'].map(company_to_index)
bg_year = bg_year.sort_values(by=['put', 'get']).reset_index(drop=True)
# 재무 데이터 매칭
ab_year['idx'] = ab_year['br_num_year'].map(company_to_index)
ab_year.sort_values(by='idx', inplace=True)

# 노드(피처, 라벨) / 엣지(인덱스, 어트리뷰트) 저장
# 노드 저장
ab_year = ab_year.iloc[:, :-1]

# 엣지 저장
bg_year = bg_year[['put','get','edge_attr']]

bg_year['put'] = bg_year['put'].astype('Int64')
bg_year['get'] = bg_year['get'].astype('Int64')
bg_year['edge_attr'] = bg_year['edge_attr'].astype('float64')
print(f'18년도 거래 수 : {len(bg_year)}, 기업 수 : {len(ab_year)}')
bg_yearli_20_all = list(set(list(bg_year['put'].unique()) + list(bg_year['get'].unique())))
bg_year = bg_year.transpose()

if len(ab_year) != len(bg_yearli_20_all) :
    print(f'비상!!! 노드 수 : {len(ab_year)}, 엣지 기업 수 : {len(bg_yearli_20_all)}')

ab_all = pd.concat([ab_year,ab_ngr_year],ignore_index=True)
print(len(ab_all))
ab_all
# ab_all.to_csv(f'./data/apollo/Inductive dataset/240910_{year}_full_node(3년후).csv', encoding='utf-8', index=False)
# bg_year.to_csv(f'./data/apollo/Inductive dataset/240910_{year}_full_edge(3년후).csv', encoding='utf-8', index=False)

18년도 거래 수 : 61738, 기업 수 : 19580
28636

C:\Users\user\AppData\Local\Temp\ipykernel_5796\888711466.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_ngr_year.drop(columns='year',inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\888711466.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_year['put'] = bg_year['br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\888711466.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_year['get'] = bg_year['cp_br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\888711466.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year['idx'] = ab_year['br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\888711466.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year.sort_values(by='idx', inplace=True)

,br_num_year,매출액,인건비,감가상각율,금융비용총부채,금융비용총비용비율,당좌비율,매출액증가율,매출원가율,매출채권회전율,...,유형자산회전율,자기자본증가율,자본금회전율,재고자산회전율1,총자본회전율,총자산증가율,매출액증가율_lag1,매출액증가율_lag2,year,3년매출액증가율
0,1018100340_18,17.137260,15.546508,13.46,0.00,0.00,630.86,-2.68,0.00,44.06,...,6.14,-30.52000,9.19,133.875192,0.16,-24.60,-3.15,-1.16,18,-7.103073
1,1018100452_18,18.498897,15.102865,20.91,1.84,3.32,22.59,-65.98,88.27,1.27,...,30.41,39.23603,2.77,95.870000,0.75,-69.79,-30.98,-16.99,18,170.690024
2,1018114655_18,18.804796,16.755506,4.77,1.76,1.35,90.63,-5.38,14.53,4.25,...,1.18,-4.94000,45.90,11.510000,0.25,-2.39,-8.81,-2.00,18,-7.430355
3,1018116478_18,18.097044,15.513166,11.57,2.50,0.26,406.77,-11.09,91.91,5.92,...,15.95,-3.26000,256.36,5.620000,1.68,-15.76,6.86,-49.54,18,-13.754649
4,1018116968_18,17.115675,14.806356,38.44,1.61,0.29,198.05,62.20,77.97,7.34,...,474.17,-6.56000,12.08,10.640000,1.86,1.99,25.90,-10.96,18,-24.473959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28631,8878702838_18,16.983142,14.410559,10.10,1.77,0.42,310.72,0.44,83.26,2.73,...,2.15,-10.47000,1.62,133.875192,1.20,-5.62,-5.80,19.84,NaN,-28.066471
28632,8918601374_18,16.898474,14.405342,1.89,0.48,3.31,144.77,-80.93,52.78,0.64,...,0.39,6.09000,2.09,5.260000,0.21,-17.80,21.63,13.36,NaN,600.785970
28633,8938100056_18,16.961403,14.676830,22.38,4.65,3.64,598.45,47.39,21.72,4.29,...,1.36,21.04000,3.93,133.875192,0.96,-2.63,32.24,102.76,NaN,-7.918327
28634,8978600975_18,16.872079,14.408201,4.34,0.00,0.00,157.96,-84.63,29.80,2.10,...,2.40,241.28000,4.00,133.875192,0.78,-6.60,19.73,9.11,NaN,849.584767
28635,8988101064_18,16.923833,14.402754,42.50,2.62,0.39,876.10,8.83,65.34,7.32,...,15.40,-11.71000,5.22,133.875192,3.18,-10.01,37.95,46.22,NaN,31.747171

In [26]:
# 풀 데이터

yearli = ['18','19','20','21']

for year in yearli:

    ab_year = ab_gr[ab_gr['year']==year]
    ab_ngr_year = ab_ngr[ab_ngr['year']==year]
    ab_ngr_year.drop(columns='year',inplace=True)
    ab_year.drop(columns='year',inplace=True)
    bg_year = bg[bg['year']==year]

    unique_companies = pd.unique(bg_year[['br_num_year', 'cp_br_num_year']].values.ravel('K'))
    company_to_index = {company: idx for idx, company in enumerate(unique_companies)}
    bg_year['put'] = bg_year['br_num_year'].map(company_to_index)
    bg_year['get'] = bg_year['cp_br_num_year'].map(company_to_index)
    bg_year = bg_year.sort_values(by=['put', 'get']).reset_index(drop=True)
    # 재무 데이터 매칭
    ab_year['idx'] = ab_year['br_num_year'].map(company_to_index)
    ab_year.sort_values(by='idx', inplace=True)

    # 노드(피처, 라벨) / 엣지(인덱스, 어트리뷰트) 저장
    # 노드 저장
    ab_year = ab_year.iloc[:, :-1]

    # 엣지 저장
    bg_year = bg_year[['put','get','edge_attr']]

    bg_year['put'] = bg_year['put'].astype('Int64')
    bg_year['get'] = bg_year['get'].astype('Int64')
    bg_year['edge_attr'] = bg_year['edge_attr'].astype('float64')
    print(f'{year}년도 거래 수 : {len(bg_year)}, 기업 수 : {len(ab_year)}')
    bg_yearli_20_all = list(set(list(bg_year['put'].unique()) + list(bg_year['get'].unique())))
    bg_year = bg_year.transpose()
    
    if len(ab_year) != len(bg_yearli_20_all) :
        print(f'비상!!! 노드 수 : {len(ab_year)}, 엣지 기업 수 : {len(bg_yearli_20_all)}')
    
    ab_all = pd.concat([ab_year,ab_ngr_year],ignore_index=True)
    print(len(ab_all))
    ab_all.to_csv(f'./data/apollo/Inductive dataset/240910_{year}_full_node(3년후).csv', encoding='utf-8', index=False)
    bg_year.to_csv(f'./data/apollo/Inductive dataset/240910_{year}_full_edge(3년후).csv', encoding='utf-8', index=False)

C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_ngr_year.drop(columns='year',inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year.drop(columns='year',inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_year['put'] = bg_year['br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_year['get'] = bg_year['cp_br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year['idx'] = ab_year['br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year.sort_values(by='idx', inplace=True)

18년도 거래 수 : 61738, 기업 수 : 19580
28636

C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_ngr_year.drop(columns='year',inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year.drop(columns='year',inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_year['put'] = bg_year['br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_year['get'] = bg_year['cp_br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year['idx'] = ab_year['br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year.sort_values(by='idx', inplace=True)

19년도 거래 수 : 50581, 기업 수 : 16148
23454
20년도 거래 수 : 0, 기업 수 : 0
0
21년도 거래 수 : 0, 기업 수 : 0
0

C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_ngr_year.drop(columns='year',inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year.drop(columns='year',inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year.sort_values(by='idx', inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_ngr_year.drop(columns='year',inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year.drop(columns='year',inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_5796\485272021.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year.sort_values(by='idx', inplace=True)

In [29]:
# 클린 데이터

yearli = ['18','19']

for year in yearli:

    ab_year = ab_gr[ab_gr['year']==year]

    bg_year = bg[bg['year']==year]

    unique_companies = pd.unique(bg_year[['br_num_year', 'cp_br_num_year']].values.ravel('K'))
    company_to_index = {company: idx for idx, company in enumerate(unique_companies)}
    bg_year['put'] = bg_year['br_num_year'].map(company_to_index)
    bg_year['get'] = bg_year['cp_br_num_year'].map(company_to_index)
    bg_year = bg_year.sort_values(by=['put', 'get']).reset_index(drop=True)
    # 재무 데이터 매칭
    ab_year['idx'] = ab_year['br_num_year'].map(company_to_index)
    ab_year.sort_values(by='idx', inplace=True)

    # 노드(피처, 라벨) / 엣지(인덱스, 어트리뷰트) 저장
    # 노드 저장
    ab_year = ab_year.iloc[:, :-1]

    # 엣지 저장
    bg_year = bg_year[['put','get','edge_attr']]

    bg_year['put'] = bg_year['put'].astype('Int64')
    bg_year['get'] = bg_year['get'].astype('Int64')
    bg_year['edge_attr'] = bg_year['edge_attr'].astype('float64')
    print(f'{year}년도 거래 수 : {len(bg_year)}, 기업 수 : {len(ab_year)}')
    bg_yearli_20_all = list(set(list(bg_year['put'].unique()) + list(bg_year['get'].unique())))
    bg_year = bg_year.transpose()
    
    if len(ab_year) != len(bg_yearli_20_all) :
        print(f'비상!!! 노드 수 : {len(ab_year)}, 엣지 기업 수 : {len(bg_yearli_20_all)}')
    
    ab_year.to_csv(f'./data/apollo/Inductive dataset/240904_{year}_clean(3년후매출액증가율)_node.csv', encoding='utf-8', index=False)
    bg_year.to_csv(f'./data/apollo/Inductive dataset/240904_{year}_clean(3년후매출액증가율)_edge.csv', encoding='utf-8', index=False)

C:\Users\user\AppData\Local\Temp\ipykernel_29208\623341087.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_year['put'] = bg_year['br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_29208\623341087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_year['get'] = bg_year['cp_br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_29208\623341087.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year['idx'] = ab_year['br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_29208\623341087.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year.sort_values(by='idx', inplace=True)

18년도 거래 수 : 61738, 기업 수 : 19580

C:\Users\user\AppData\Local\Temp\ipykernel_29208\623341087.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_year['put'] = bg_year['br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_29208\623341087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bg_year['get'] = bg_year['cp_br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_29208\623341087.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year['idx'] = ab_year['br_num_year'].map(company_to_index)
C:\Users\user\AppData\Local\Temp\ipykernel_29208\623341087.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_year.sort_values(by='idx', inplace=True)

19년도 거래 수 : 50581, 기업 수 : 16148